n8n/gateway/workflows/sandbox-thehive-case.json
{
  "name": "[YAOC2 Sandbox] TheHive Case Create",
  "_yaoc2_version": "2026.03.1",
  "_doc": "Sandbox workflow for action: case_create_thehive. Called by the policy gateway after an allow/approval decision. Creates a TheHive 4 case from the action parameters, optionally adds observables and tasks, and returns the case ID and URL to the gateway.",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "nodes": [
    {
      "parameters": { "inputSource": "passthrough" },
      "id": "wf-trigger",
      "name": "Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst params = raw.parameters ?? {};\nconst title = params.title ?? params.case_title ?? null;\nconst description = params.description ?? params.summary ?? 'Created by YAOC2 agent.';\nconst severity = params.severity ?? 2;\nconst tlp = params.tlp ?? 2;\nconst tags = params.tags ?? ['yaoc2', 'automated'];\nconst observables = params.observables ?? [];\nconst tasks = params.tasks ?? [];\nif (!title) throw new Error('Sandbox: parameters.title or parameters.case_title is required');\nconst proposedActionId = raw.proposed_action_id ?? 'unknown';\nreturn [{ json: { title, description, severity, tlp, tags, observables, tasks, proposed_action_id: proposedActionId, requester: raw.requester } }];"
      },
      "id": "normalise-input",
      "name": "Normalise Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.THEHIVE_URL }}/api/case",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.THEHIVE_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ title: $json.title, description: $json.description, severity: $json.severity, tlp: $json.tlp, tags: $json.tags, flag: false, status: 'Open' }) }}",
        "options": { "timeout": 15000 }
      },
      "id": "thehive-create-case",
      "name": "TheHive — Create Case",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "jsCode": "const hive = $input.item.json;\nconst input = $('Normalise Input').first().json;\nconst caseId = hive._id ?? hive.id ?? null;\nconst caseNumber = hive.caseId ?? null;\nif (!caseId) throw new Error('TheHive case creation failed: ' + JSON.stringify(hive));\nreturn [{ json: { ...input, case_id: caseId, case_number: caseNumber, case_url: `${process.env.THEHIVE_URL}/cases/${caseId}/details` } }];"
      },
      "id": "parse-case",
      "name": "Parse Case ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 0]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "has-observables",
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 3 },
                "combinator": "and",
                "conditions": [{ "leftValue": "={{ $json.observables.length > 0 }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" }, "id": "obs-check" }]
              },
              "renameOutput": true
            },
            {
              "outputKey": "no-observables",
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 3 },
                "combinator": "and",
                "conditions": [{ "leftValue": "={{ $json.observables.length === 0 }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" }, "id": "no-obs-check" }]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "id": "observables-route",
      "name": "Has Observables?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [960, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.THEHIVE_URL }}/api/case/{{ $json.case_id }}/artifact",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.THEHIVE_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ dataType: $json.observables[0].type ?? 'other', data: $json.observables[0].value, message: $json.observables[0].description ?? 'Added by YAOC2', tlp: $json.tlp, tags: $json.tags }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "thehive-add-observable",
      "name": "TheHive — Add Observable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, -120]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Parse Case ID').first().json;\nreturn [{ json: {\n  status: 'success',\n  result_summary: `TheHive case #${input.case_number} created: ${input.title}. URL: ${input.case_url}`,\n  raw_result_ref: input.case_url,\n  case_id: input.case_id,\n  case_number: input.case_number,\n  case_url: input.case_url,\n  proposed_action_id: input.proposed_action_id\n} }];"
      },
      "id": "build-result",
      "name": "Build Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 0]
    }
  ],
  "connections": {
    "Workflow Trigger": { "main": [[{ "node": "Normalise Input", "type": "main", "index": 0 }]] },
    "Normalise Input": { "main": [[{ "node": "TheHive — Create Case", "type": "main", "index": 0 }]] },
    "TheHive — Create Case": { "main": [[{ "node": "Parse Case ID", "type": "main", "index": 0 }]] },
    "Parse Case ID": { "main": [[{ "node": "Has Observables?", "type": "main", "index": 0 }]] },
    "Has Observables?": {
      "main": [
        [{ "node": "TheHive — Add Observable", "type": "main", "index": 0 }],
        [{ "node": "Build Result", "type": "main", "index": 0 }]
      ]
    },
    "TheHive — Add Observable": { "main": [[{ "node": "Build Result", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "tags": ["yaoc2", "sandbox", "thehive"]
}
