n8n/brain/skills/publish-reddit.json
{
  "name": "[YAOC2 Skill] Publish \u2014 Reddit",
  "_yaoc2_version": "2026.03.1",
  "_doc": "Sub-workflow skill. Submits a link or text post to Reddit via OAuth2. Input: { title, text?, url?, subreddit, flair_text? }. Output: { status, post_url, result_summary }. Requires REDDIT_CLIENT_ID, REDDIT_CLIENT_SECRET, REDDIT_USERNAME, REDDIT_PASSWORD in n8n env.",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "nodes": [
    {
      "parameters": { "inputSource": "passthrough" },
      "id": "wf-trigger",
      "name": "Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst title = raw.title ?? '';\nconst subreddit = raw.subreddit ?? 'test';\nconst text = raw.text ?? null;\nconst url = raw.url ?? null;\nconst flairText = raw.flair_text ?? null;\nif (!title) throw new Error('Skill Reddit: title is required');\nif (!text && !url) throw new Error('Skill Reddit: text or url is required');\nreturn [{ json: { title, subreddit, text, url, flair_text: flairText, kind: url ? 'link' : 'self' } }];"
      },
      "id": "prepare-post",
      "name": "Prepare Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.reddit.com/api/v1/access_token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "grant_type", "value": "password" },
            { "name": "username", "value": "={{ $env.REDDIT_USERNAME }}" },
            { "name": "password", "value": "={{ $env.REDDIT_PASSWORD }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "reddit-auth",
      "name": "Reddit \u2014 Get Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 0],
      "credentials": { "httpBasicAuth": { "id": "REPLACE_REDDIT_BASIC_AUTH_CREDENTIAL", "name": "Reddit App Credentials" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth.reddit.com/api/submit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'bearer ' + $json.access_token }}" },
            { "name": "User-Agent", "value": "YAOC2-CTI-Bot/1.0" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "sr", "value": "={{ $('Prepare Post').first().json.subreddit }}" },
            { "name": "kind", "value": "={{ $('Prepare Post').first().json.kind }}" },
            { "name": "title", "value": "={{ $('Prepare Post').first().json.title }}" },
            { "name": "text", "value": "={{ $('Prepare Post').first().json.text ?? '' }}" },
            { "name": "url", "value": "={{ $('Prepare Post').first().json.url ?? '' }}" },
            { "name": "resubmit", "value": "true" },
            { "name": "nsfw", "value": "false" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "reddit-submit",
      "name": "Reddit \u2014 Submit Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 0]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.item.json;\nconst postUrl = result.json?.data?.url ?? null;\nreturn [{ json: { status: postUrl ? 'success' : 'failed', post_url: postUrl, result_summary: postUrl ? `Posted to Reddit: ${postUrl}` : 'Reddit post failed: ' + JSON.stringify(result.json?.errors) } }];"
      },
      "id": "build-result",
      "name": "Build Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 0]
    }
  ],
  "connections": {
    "Workflow Trigger": { "main": [[{ "node": "Prepare Post", "type": "main", "index": 0 }]] },
    "Prepare Post": { "main": [[{ "node": "Reddit \u2014 Get Token", "type": "main", "index": 0 }]] },
    "Reddit \u2014 Get Token": { "main": [[{ "node": "Reddit \u2014 Submit Post", "type": "main", "index": 0 }]] },
    "Reddit \u2014 Submit Post": { "main": [[{ "node": "Build Result", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "tags": ["yaoc2", "skill", "social", "reddit"]
}
